*.html,body
{
    box-sizing: border-box;
    font-family: 'Times New Roman'; 
    background: rgb(149, 218, 159);
    color:rgb(7, 7, 7);
    margin: 0 auto;
    font-size: larger;
}
header
{
    background: #135e2a;
    color: #f7f3f3;
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    text-align: center;
    justify-content: center;
}